main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 80ch;
    margin-inline: auto;
}

body{
    background-color: #0c0c0c;
}

.header{
    font-size: 2.8rem;
    color: #ff6464; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.readin{
    font-size: 1.6rem;
    color: #e9cbcb;
    font-family: 'Times New Roman', Times, serif;
}

.pwrup{
    max-width: 40rem;
    margin-bottom: 4rem;
    border: 5px solid #9c0000;
}